---
import Briefcase from "@icons/briefcase.svg";
import Badge from "@components/Badge.astro";
---

<div class="m-4 mt-32">
  <h2 class="mb-6 text-3xl font-bold text-gray-900 dark:text-white">
    Experiencia
  </h2>

  <div class="p-4">
    <ol class="relative border-l border-gray-200 dark:border-gray-700">
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
          <img src={Briefcase} alt="briefcase" width="10" height="10" />
        </span>
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
        >
          Desarrollador Full Stack<span
            class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ml-3"
            >Actual</span
          >
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >SCALE AQ CHILE SPA | NOV 2021</time
        >
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          Mantenimiento y desarrollo de aplicaciones web y m칩viles.

          <div class="flex gap-2 flex-wrap">
            <Badge label="ASP .NET" />
            <Badge label="C#" />
            <Badge label="Xamarin Forms" />
            <Badge label="SQL Server" />
            <Badge label="TypeScript" />
            <Badge label="HTML" />
            <Badge label="CSS" />
            <Badge label="Bootstrap" />
            <Badge label="Angular" />
            <Badge label="Git" />
            <Badge label="Github" />
            <Badge label="Github Actions" />
            <Badge label="Jira" />
          </div>
        </p>
      </li>
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
          <img src={Briefcase} alt="briefcase" width="10" height="10" />
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          Soporte Inform치tico
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >STEINSVIK CHILE SPA | DIC 2018-NOV 2021</time
        >
        <p class="text-base mb-4 font-normal text-gray-500 dark:text-gray-400">
          Soporte inform치tico a usuarios, mantenci칩n de equipos, redes y
          servidores.

          <div class="flex gap-2 flex-wrap">
            <Badge label="Windows" />
            <Badge label="Linux" />
            <Badge label="Office 365" />
          </div>
        </p>

        <p
          class="text-base mb-4 mt-8 font-normal text-gray-500 dark:text-gray-400"
        >
          Desarrollo de aplicaciones web para el uso interno.

          <div class="flex gap-2 flex-wrap">
            <Badge label="PHP" />
            <Badge label="HTML" />
            <Badge label="CSS" />
            <Badge label="Bootstrap" />
            <Badge label="JavaScript" />
            <Badge label="JQuery" />
            <Badge label="MySQL" />
          </div>
        </p>
      </li>
    </ol>
  </div>
</div>
